.sidebar{
  position: fixed;
  background-color:white;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  z-index: 102;
}

.sidebar-link{
  height: 80px;
 display: flex;
 justify-content: center;
 align-items: center;
  margin-bottom: 1px;
  flex-direction: column;

}

.sidebar-link:hover{
  background-color: #e8e8e8;
    cursor: pointer;
}

/* only targets the img inside the sidebar link class */
.sidebar-link img{
  height: 24px;
  margin-bottom: 5px;
}

.sidebar-link div{
  font-family: Roboto , Arial;
  font-size: 10px;
}